@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

@theme {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-gold: #FCC251;
  --color-green: #A4CD70;
  --color-orange: #F46514;
  --color-dark: #1E1E1E;
  --color-purple: #28272F;
  --color-blue: #484878;
  --color-light: #D1C7D4;
  
  --font-nunito: "Nunito", sans-serif;
  
}

html {
  text-align: center;
}

html,
body,
#__next {
  min-height: 100vh;
  max-width: 100vw;
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: clip;
}

.join-us {
  color: white;
}

.join-us:hover {
  color: black;
}

/* I might be taking crazy pills here but flex-row-reverse and flex-col-reverse have no css on my end */
@media (min-width: 768px) {
  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }
}
