@use "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap");

@theme {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-gold: #fcc251;
  --color-green: #aac2b1;
  --color-orange: #f46514;
  --color-dark: #1e1e1e;
  --color-purple: #28272f;
  --color-blue: #484878;
  --color-light: #d1c7d4;

  --font-nunito: "Nunito", sans-serif;
}
