@use "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

@theme {
  --color-transparent: transparent;
  --color-current: currentColor;
  --color-gold: #fcc251;
  --color-green: #AAC2B1;
  --color-orange: #f46514;
  --color-dark: #1e1e1e;
  --color-purple: #28272f;
  --color-blue: #484878;
  --color-light: #d1c7d4;

  --font-nunito: "Nunito", sans-serif;
}

html {
  text-align: center;
}

html,
body,
#__next {
  min-height: 100vh;
  max-width: 100vw;
}

#__next {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: clip;
}

.join-us {
  color: white;
}

.join-us:hover {
  color: black;
}

/* I might be taking crazy pills here but flex-row-reverse and flex-col-reverse have no css on my end */
@media (min-width: 768px) {
  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }
}
