@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");

html {
  text-align: center;
}

.join-us {
  color: white;
}

.join-us:hover {
  color: black;
}

/* I might be taking crazy pills here but flex-row-reverse and flex-col-reverse have no css on my end */
@media (min-width: 768px) {
  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }
}
