#root {
  margin: 0 auto;
  text-align: center;
  height: 100%;
  width: 100%;
}

a.join-us {
  color: white;
}

a.join-us:hover {
  color: black;
}

/* I might be taking crazy pills here but flex-row-reverse and flex-col-reverse have no css on my end */
@media (min-width: 768px) {
  .md\:flex-row-reverse {
    flex-direction: row-reverse;
  }
}
